<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.horizon.module.hotpoint.dal.mysql.KeywordMapper">

    <insert id="insert" parameterType="org.horizon.module.hotpoint.dal.dataobject.KeywordDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO hotpoint_keywords (keyword_text, tenant_id)
        VALUES ( #{keywordText}, #{tenantId} )
    </insert>


    <select id="selectPage" parameterType="long" resultType="org.horizon.module.hotpoint.dal.dataobject.KeywordDO">
        SELECT id AS id,
               keyword_text AS keywordText
        FROM hotpoint_keywords
        WHERE tenant_id = #{tenantId}
        ORDER BY keyword_text
    </select>
</mapper>
